@model PrjFarmacia_David.Models.Cliente
@{
    ViewData["Title"] = "DeleteCliente";
}

<h1 class="mb-4">Eliminar Cliente</h1>

<h3>¿Estás seguro de que quieres eliminar este cliente?</h3>
<div>
    <h4>Detalles del Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>
        <dt class="col-sm-2">Nombre:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Nombre)</dd>
        <dt class="col-sm-2">Dirección:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Direccion)</dd>
        <dt class="col-sm-2">Teléfono:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Telefono)</dd>
        <dt class="col-sm-2">EliCli:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EliCli)</dd>
    </dl>

    <form asp-action="DeleteCliente" method="post" class="mt-4">
        <button type="submit" class="btn btn-danger">Eliminar</button> |
        <a asp-action="IndexClientes" class="btn btn-warning">Volver</a>
    </form>
</div>