@model IEnumerable<PrjFarmacia_David.Models.Producto>

@{
    ViewData["Title"] = "IndexProductos";
}

<div class="container">
    <h1 class="text-center">Productos Disponibles</h1>
    <p class="text-center mt-4">
        <a asp-action="VerCarritoCompra" class="btn btn-warning">Ver Carrito de Compra</a>
    </p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@Url.Content("/productos/" + item.Id + ".jpeg")" class="card-img-top" alt="@item.Id">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nombre</h5>
                        <p class="card-text">@item.Descripcion</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Precio: $@item.Precio</li>
                        <li class="list-group-item">Cantidad Disponible: @item.Cantidad</li>
                    </ul>
                    <div class="card-body">
                        @Html.ActionLink("Seleccionar", "AgregarProductoCarrito", new { id = item.Id }, new { @class = "btn btn-primary btn-block" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

